<!--begin::Menu wrapper-->
<div class="app-header-menu app-header-mobile-drawer align-items-stretch" data-kt-drawer="true" data-kt-drawer-name="app-header-menu" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="225px" data-kt-drawer-direction="end" data-kt-drawer-toggle="#kt_app_header_menu_toggle" data-kt-swapper="true" data-kt-swapper-mode="{default: 'append', lg: 'prepend'}" data-kt-swapper-parent="{default: '#kt_app_body', lg: '#kt_app_header_wrapper'}">
	<!--begin::Menu-->
<!--begin::Menu-->
<div class="menu menu-rounded menu-column menu-lg-row my-5 my-lg-0 align-items-stretch fw-semibold px-2 px-lg-0" id="kt_app_header_menu" data-kt-menu="true" >
    <!--begin::Menu item-->
    <div class="menu-item">
        <a href="/orders/order_dm/Initial" class="menu-link {% if "/orders/order_dm/Initial" in request.path %}active{% endif %}">
            <span class="menu-icon">
                <i class="bi bi-bounding-box-circles fs-3"></i>
            </span>
            <span class="menu-title">Initial</span>
        </a>
    </div>
    <!--end::Menu item-->

    <!--begin::Menu item-->
    <div class="menu-item">
        <a href="/orders/order_dm/Printed" class="menu-link {% if "/orders/order_dm/Printed" in request.path %}active{% endif %}"> 
		
            <span class="menu-icon">
                <i class="bi bi-printer fs-3"></i>
            </span>
            <span class="menu-title">Printed</span>
            <span class="menu-badge">
            </span>
        </a>
    </div>
    <!--end::Menu item-->

    <!--begin::Menu item-->
    <div class="menu-item">
        <a href="/orders/order_dm/Shipping" class="menu-link {% if "/orders/order_dm/Shipping" in request.path %}active{% endif %}">
            <span class="menu-icon">
                <i class="bi bi-truck fs-3"></i>
            </span>
            <span class="menu-title">Shipping</span>
        </a>
    </div>
    <!--end::Menu item-->
</div>
<!--end::Menu-->
</div>
<!--end::Menu wrapper-->