{% extends layout %}

{% load i18n %}

{% block title %}
{% translate "New Order" %}
{% endblock %}
{% load widget_tweaks %}

{% block content %}
{% if current_user.order_perm %}
{% if current_employee.assigned_company %}

<h1>New Order</h1>
<form action="" method="post" id="myForm" onsubmit="myButton.disabled = true;">
	{% csrf_token %}
	<div class="row">
		<div class="col-sm">
				{% render_field form.number|append_attr:"class:form-control mt-3" type="text" placeholder="Mobile Number" minlength="11" maxlength="11" %}
			{{ form.errors.number }}
		</div>
		<div class="col-sm">
			{% render_field form.name|append_attr:"class:form-control mt-3" type="text" placeholder="Name" %}
			{{ form.errors.name }}
		</div>
		<div class="col-sm">
			{% comment %} {% render_field form.delivery_method|append_attr:"class:form-control mt-3" type="text" %} {% endcomment %}
			<select name="delivery_method" class="form-control mt-3" id="id_delivery_method">
				<option value="1" disabled selected>Select Delivery Method</option>
				{% for name in de_m %}
					<option value="{{name.name}}">{{name.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="row">

		<div class="col-lg-2 bg-light-warning h-100 p-5 border border-gray-500 border-active active" id="initial" style="display:none">
			<div class="fw-bolder border border-gray-100">Parent Element 4</div>
		</div>
	</div>

	<br />

	<div id="user_data" class="card m-2" style="display:none">
		<div class="row card-body">
			<div class="col-md-2 btn btn-danger user_data-btn m-1" id="initial_order" style="display:none" ></div>
			<div class="col-md-2 btn btn-danger user_data-btn m-1" id="printed_order" style="display:none" ></div>
			<div class="col-md-2 btn btn-warning user_data-btn m-1" id="shipping_order" style="display:none" ></div>
			<div class="col-md-2 btn btn-success user_data-btn m-1" id="complete_order" style="display:none" ></div>
			<div class="col-md-2 btn btn-info user_data-btn m-1" id="return_order"style="display:none" ></div>
			<div class="col-md-2 btn btn-secondary user_data-btn m-1" id="exchange_order"style="display:none" ></div>
		</div>
	</div>
	<div class="from-group">
		<div class="row">
			<div class="col-6">
				{% render_field form.address|append_attr:"class:form-control order-note" type="text" placeholder="address" rows="3" %}
			</div>
			<div class="col-6">
				{% render_field form.order_note|append_attr:"class:form-control order-note" type="text" placeholder="Note" rows="3" %}
			</div>

		</div>

		<br />
		<a class="btn btn-primary add_another" id="addBtn">Add Row</a>
		<br /><br />
		<div class="row">
			<div class="col-md-8">
				<table class="table calculate-table" id="itemTable">
					<thead>
						<tr>
							<th scope="col" id="product-name-entry">Product Name</th>
							<th scope="col">Qty</th>
							<th scope="col">Price</th>
							<th scope="col">Item Total</th>
						</tr>
					</thead>
					<tbody id="tbody">
						<tr id="R1">
							<td>
								<select name="sku_list" class="form-control" id="sl1" data-control="select2">
									<option value="1" disabled selected>Select SKU</option>
								</select>
								<span id="sn1" style="width: 100%;
									margin-top: 0.5rem;
									font-size: 0.925rem;
									color: #50cd89;"></span>
							</td>
							<td><input type="number" class="form-control" name="sku_qty" id="sq1" value="1" /></td>
							<td>
								<input type="number" id="pp1" class="form-control" name="product-price"
									autocomplete="off" value="0" readonly>
							</td>
							<td>
								<input type="number" id="it1" class="form-control" name="item-total" autocomplete="off"
									value="0" readonly>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col-md-4">
				<div class="table-responsive p-0">
					<table class="table align-items-center mb-0 bg-gradient-secondary">


						<thead>
							<tr>
								<th>
									<strong>Calculation</strong>
								</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>Subtotal:
								</td>
								<td>{% render_field form.sub_total|append_attr:"class:form-control" type="number" readonly="readonly" %}
								</td>
							</tr>

							<tr>
								<td>Advance Payment:
								</td>
								<td>{% render_field form.advance|append_attr:"class:form-control" type="number" %}</td>
							</tr>

							<tr>
								<td>Discount Payment:
								</td>
								<td>{% render_field form.discount|append_attr:"class:form-control" type="number" %}</td>
							</tr>

							<tr>
								<td>Delivery Charge
								</td>
								<td>{% render_field form.delivery_charge|append_attr:"class:form-control" type="number" %}
								</td>
							</tr>

							<tr>
								<td>Grand Total:
								</td>
								<td>{% render_field form.grand_total|append_attr:"class:form-control" type="number" readonly="readonly" %}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<br />

		{% comment %} <button onclick="document.getElementById('submit-btn').disabled type=" submit"
			class="btn btn-primary" id="submit-btn">Submit</button> {% endcomment %}
		{% comment %}


		<button type="submit" id="kt_docs_sweetalert_basic" class="btn btn-primary">Toggle SweetAlert</button>
		{% endcomment %}

		<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_3">
			Save Order
		</button>

		<div class="modal fade" tabindex="-1" id="kt_modal_3">
			<div class="modal-dialog">
				<div class="modal-content position-absolute">

					<div class="modal-body">
						<h3>Are You Sure?</h3>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary" id="submit-btn" name="myButton">Yes. Confirm
							Order</button>
					</div>
				</div>
			</div>
		</div>

		{% if form.non_field_errors %}
		<div class="non-field-errors">
			{% for err in form.non_field_errors %}
			<p class="form-error">{{ err }}</p>
			{% endfor %}
		</div>
		{% endif %}
</form>
{% else %}
<h1>You dont have an assigned company to your account. Please contact admin to assign!</h1>
{% endif %}
{% else %}
<h1>You dont have permission to this page</h1>
{% endif %}
{% endblock %}