
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="shortcut icon" href="{% static 'assets/media/logos/favicon.ico' %}" />
	<!--begin::Fonts-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
	<!--end::Fonts-->
	<!--begin::Page Vendor Stylesheets(used by this page)-->
	<!--end::Page Vendor Stylesheets-->
	<!--begin::Global Stylesheets Bundle(used by all pages)-->
	<link href="{% static 'assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
	<!--end::Global Stylesheets Bundle-->

	<script src="{% static 'assets/plugins/global/plugins.bundle.js' %}"></script>
	<script src="{% static 'assets/js/scripts.bundle.js' %}"></script>
	<script defer src="{% static 'assets/js/script.js' %}"></script>
<style>
{% load static %}
{% load orders_extra %}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
  }
.kokook {
  page-break-before: always;
}
@media print {
  @page {
    padding: 10px;
  }

  .kokook {
    page-break-before: always;
  }

  .noprint {
    display: none;
  }
} ;

</style>
</head>
<body>

<main class="">


	<div class="container-fluid py-4">
		<div class="row">
			<div class="col-lg-10">
				<div class="">
					<div class="">
						<div class="row">
							<div class="col-6 d-flex align-items-center">
								<div class="row">
									<div class="col-md-12">
										<h6 class="mb-0">SCL- {{company}} - {{delivery_method}} - {{date_time}}- Total Invoice: {{order_inv_count}} Total Qty: {{sku_qty}}</h6>
									</div> 
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="table-responsive" style="margin-top: -1%">
							<table class="" style="align-items: center!important;margin-bottom: 0!important;width: 100%; color: #67748e; vertical-align: top; border-color: #e9ecef; border: 1px solid black;" >
								<thead>
									<tr>
										<th style="text-align:center;">image</th>
										<th style="text-align:center;">SKU</th>
										<th style="text-align:center;">Quantity</th>
										<th style="text-align:center; width: 70%;">Order Number</th>
									</tr>
								</thead>
								<tbody>

                                {% for key, value in order_list.items %}
									<tr>
                                        <td style="text-align: center"><img src="{{key.product_image.url}}" alt=""
                                    width="40px"></td>
										<td style="text-align: center">{{key}}</td>
										<td style="text-align: center">


                                        {% cal_item_qty value key %}
										
											{% comment %} {{ value|calculate_qty }} {% endcomment %}
										</td>
										<td style="text-align: center">
                                        {% for item in value %}{{item}}, {% endfor %}
                                            
                                        
										</td>
									</tr>

                                {% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div></main>
</body>
</html>