<!--begin::Navbar-->
<div class="app-navbar flex-shrink-0">
	<!--begin::Search-->
	<div class="app-navbar-item align-items-stretch ms-1 ms-lg-3">
		{% comment %} {% include '../search1/_dropdown.html' %} {% endcomment %}
	</div>
	<!--end::Search-->
	<!--begin::Activities-->

	<!--end::Activities-->
	<!--begin::Notifications-->
	<div class="app-navbar-item ms-1 ms-lg-3">
		<!--begin::Menu- wrapper-->

			<div class="btn btn-icon btn-light pulse pulse-danger position-relative me-5" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
	
				<i class="bi bi-bell fs-4 pulse pulse-danger"></i>
				{% if low_stock > 0 %}
				<span class="position-absolute top-0 start-100 translate-middle  badge badge-circle badge-danger top-0 start-50 animation-blink">{{low_stock}}</span>

				{% endif %}
				{% if stock_in > 0 %}
				<span class="position-absolute top-0 start-0 translate-middle  badge badge-circle badge-success top-0 start-50 animation-blink">{{stock_in}}</span>
				{% endif %}
	
				<span class="pulse-ring"></span>
			</div>

		{% include 'partials/menus/_notifications-menu.html' %}

		<!--end::Menu wrapper-->
	</div>
	<!--end::Notifications-->
	<!--begin::Chat-->



	<!--end::Chat-->
	<!--begin::Quick links-->
	<!--end::Quick links-->
	<!--begin::Theme mode-->
	<div class="app-navbar-item ms-1 ms-lg-3">
		{% include 'partials/theme-mode/_main.html' with toggle_btn_class='btn btn-icon btn-custom btn-icon-muted btn-active-light btn-active-color-primary w-35px h-35px w-md-40px h-md-40px' toggle_btn_icon_class='svg-icon svg-icon-2'%}
	</div>
	<!--end::Theme mode-->
	<!--begin::User menu-->
	<div class="app-navbar-item ms-1 ms-lg-3" id="kt_header_user_menu_toggle">
		<!--begin::Menu wrapper-->
		<div class="cursor-pointer symbol symbol-35px symbol-md-40px" data-kt-menu-trigger="click"
			data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
			{% comment %} <img src="" alt="user" /> {% endcomment %}
			<div class="symbol-label fs-2 fw-semibold text-success">A</div>
		</div>

		{% include 'partials/menus/_user-account-menu.html' %}

		<!--end::Menu wrapper-->
	</div>
	<!--end::User menu-->
	<!--begin::Header menu toggle-->

	<!--end::Header menu toggle-->
</div>
<!--end::Navbar-->