<!--begin::Menu toggle-->
<a href="#" class="btn btn-custom btn-outline btn-icon btn-icon-gray-700 btn-active-icon-primary" data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
    {% getSvgIcon 'duotune/general/gen060.svg' 'svg-icon theme-light-show svg-icon-2' %}
    {% getSvgIcon 'duotune/general/gen061.svg' 'svg-icon theme-dark-show svg-icon-2' %}
</a>
<!--begin::Menu toggle-->
{% include 'partials/theme-mode/__menu.html' %}
