{% extends layout %}

{% load i18n %}

{% block title %}
	{% translate "Current Stock List" %}
{% endblock %}
{% load orders_extra %}
{% block content %}
	<div
		class="card mb-5 mb-xl-8">
		<!--begin::Header-->
		<div class="card-header border-0 pt-5">
			<h3 class="card-title align-items-start flex-column">
				<span class="card-label fw-bold fs-3 mb-1">Current Stock List</span>
			</h3>

			<div
				class="card-toolbar flex-row-fluid justify-content-end gap-5">
				<!--begin::Export dropdown-->
				<button type="button" class="btn btn-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
					<span class="svg-icon svg-icon-1 position-absolute ms-4">...</span>
					Export
				</button>
				<!--begin::Menu-->
				<div
					id="kt_datatable_example_export_menu" class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-200px py-4" data-kt-menu="true">
					<!--begin::Menu item-->
					<div class="menu-item px-3">
						<a href="#" class="menu-link px-3" data-kt-export="copy">
							Copy to clipboard
						</a>
					</div>
					<!--end::Menu item-->
					<!--begin::Menu item-->
					<div class="menu-item px-3">
						<a href="#" class="menu-link px-3" data-kt-export="excel">
							Export as Excel
						</a>
					</div>
					<!--end::Menu item-->
					<!--begin::Menu item-->
					<div class="menu-item px-3">
						<a href="#" class="menu-link px-3" data-kt-export="csv">
							Export as CSV
						</a>
					</div>
					<!--end::Menu item-->
					<!--begin::Menu item-->
					<div class="menu-item px-3">
						<a href="#" class="menu-link px-3" data-kt-export="pdf">
							Export as PDF
						</a>
					</div>
					<!--end::Menu item-->
				</div>
				<!--end::Menu-->
				<!--end::Export dropdown-->

				<!--begin::Hide default export buttons--><div id="kt_datatable_example_buttons" class="d-none"> </div>

			</div>

		</div>
		<!--end::Header-->


		<!--begin::Body-->
		<div class="card-body py-3">
			

				<div
					class="d-flex align-items-center position-relative my-1 pb-10">
					<!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
					<span class="svg-icon svg-icon-1 position-absolute ms-4">
						<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor"></rect>
							<path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor"></path>
						</svg>
					</span>
					<!--end::Svg Icon-->
					<input type="text" data-kt-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search">
				</div>

				<!--begin::Table container-->
				<div
					class="table-responsive">
					<!--begin::Table-->
					<table
						class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3" id="kt_datatable_example">
						<!--begin::Table head-->
						<thead>
							<tr class="fw-bold text-muted">
								<th class="w-25px">#</th>
								<th class="">SKU</th>
								<th class="min-w-80px">Stock</th>
								<th class="min-w-80px">Name</th>
								<th class="min-w-140px">Brand</th>
								<th class="min-w-120px">Category</th>
								<th class="min-w-120px">Alert qty
								</th>
								<th class="min-w-120px">Sell Price</th>
								<th class="min-w-120px">Cost Price</th>
								<th class="min-w-120px">Waranty</th>
								<th class="min-w-120px">Warranty Policy</th>
							</tr>
						</thead>
						<!--end::Table head-->
						<!--begin::Table body-->
						<tbody>

							{% for product in object_list %}

								<tr>
									<td>{{ forloop.counter }}</td>
									<td>
										<a href="#" class="text-dark fw-bold text-hover-primary d-block mb-1 fs-6">{{ product.sku }}</a>
									</td>
									<td>
										<a href="#" class="text-dark fw-bold text-hover-primary d-block mb-1 fs-6">{{ product.stock_qty  }}</a>
									</td>
									<td>
										<a href="#" class="text-dark fw-bold text-hover-primary d-block mb-1 fs-6">{{product.name}}</a>
									</td>
									<td>
										<a href="#" class="text-dark fw-bold text-hover-primary d-block mb-1 fs-6">{{product.brand}}</a>
									</td>
									<td>
										<a href="#" class="text-dark fw-bold text-hover-primary d-block mb-1 fs-6">{{product.category }}</a>
									</td>
									<td>
										<a href="#" class="text-dark fw-bold text-hover-primary d-block mb-1 fs-6">{{product.alert_qty }}</a>

									</td>
									<td>
										<a href="#" class="text-dark fw-bold text-hover-primary d-block mb-1 fs-6">{{product.sell_price }}</a>

									</td>
									<td>
										<a href="#" class="text-dark fw-bold text-hover-primary d-block mb-1 fs-6">{{product.cost_price }}</a>

									</td>
									<td>
										<a href="#" class="text-dark fw-bold text-hover-primary d-block mb-1 fs-6">{{product.warranty  }}</a>

									</td>
									<td>
										<a href="#" class="text-dark fw-bold text-hover-primary d-block mb-1 fs-6">{{product.warranty_policy   }}</a>

									</td>


								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
		
			<!--end::Table body-->

			<!--end::Table-->
		</div>
		<!--end::Table container-->
	</div>

{% endblock %}
